<div class="bodyContent">
    <div id="trainerArea">
        <div class="trainerContainer" ng-repeat="trainer in trainers" ng-click="viewTrainer(trainer.name)">
            <div class="trainerImgDiv">
                <img ng-src="../PokemonDB/frontend/images/trainers/VS{{trainer.image}}.png" alt="{trainer.name}" />
            </div>
            <div class="trainerInfoDiv">
                <h2>{{trainer.name}}</h2>
            </div>
        </div>
        <div class="trainerContainer" ng-click="createTrainerMode()">
            <div class="trainerImgDiv">
                <img ng-src="../PokemonDB/frontend/images/trainers/Pokeball.png" alt="Pokeball" />
            </div>
            <div class="trainerInfoDiv">
                <h2>Create</h2>
            </div>
        </div>
    </div>
    <div class="trainerCreationBlock" ng-show="createMode">
        <div id="closeTrainerCreate" ng-click="createTrainerMode()">
            <h1>X</h1>
        </div>
        <form name="createTrainerForm" ng-submit="submitNewTrainer()" novalidate>
            <div class="inputTrainerName child">
                <input type="text" name="name" placeholder="Trainer Name" ng-model="newTrainer.name" required/>
            </div>
            <div class="inputTrainerRival child">
                <label>Rival</label>
                <div>
                    <select class="rivalSelector" ng-options="trainer.name for trainer in trainers track by trainer.id" value="trainer.id" ng-model="newTrainer.rival">
                    </select>
                </div>
            </div>
            <center>
                <h2><strong>Earned Badges</strong></h2>
            </center>
            <div class="badgeSelector child">
                <div class="trainerBadge" ng-repeat="badge in badges" ng-click="selectBadge(badge.id)" ng-class="badgeIsSelected(badge.id) ? 'badgeSelected' : 'badgeNotSelected'">
                    <center>
                        <img ng-src="/PokemonDB/frontend/images/badges/{{badge.image}}badge.png" alt="{{badge.name}}" />
                    </center>
                    <h2>{{badge.name}}</h2>
                </div>
            </div>
            <center>
                <h2><strong>Owned Pokemon</strong></h2></center>
            <div class="pokemonSelectArea child">
                <div class="pokeSelectBlock" ng-repeat="i in addPokemonSize track by $index">
                    <center><img ng-src="/PokemonDB/frontend/images/pokemon/{{selectedPokemon[$index].pokemonId}}.png" alt="" /></center>
                    <div class="pokemonSelectorCase">
                        <select class="pokemonSelector" ng-options="pokemon.name for pokemon in pokedex track by pokemon.id" ng-model="pkmn.$index.selectedOption" ng-change="selectPokemon($index, pkmn.$index.selectedOption.id)">
                        </select>
                    </div>
                    <label>Level</label>
                    <input type="text" name="pokemonLevel" placeholder="5" ng-model="pkmn.$index.level" ng-change="updatePokemonLevel($index, pkmn.$index.level)" />
                </div>
                <div class="pokeSelectBlock addPokemonBlock" ng-show="addPokemonSize.length < 6" ng-click="addMorePokemon()">
                    <div>+</div>
                </div>
            </div>

            <br/>
            <div class="inputButtons child">
                <input type="button" title="Cancel" value="Cancel" ng-click="createTrainerMode()" class="inputTrainerCancel" />
                <input type="submit" title="Create" value="Create" class="inputTrainerSubmit" />
            </div>

        </form>
    </div>
</div>