<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PokémonDB</title>

    <link rel="shortcut icon" type="image/x-icon" href="/PokemonDB/frontend/images/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="/PokemonDB/frontend/images/apple-touch-icon-precomposed.png" />

    <!-- Angular Scripts ---->
    <script src="frontend/js/src/angular.js" type="text/javascript"></script>
    <script src="frontend/js/src/angular-route.js" type="text/javascript"></script>

    <script src="frontend/js/app.js" type="text/javascript"></script>

    <script src="frontend/js/factories/API.js" type="text/javascript"></script>
    <! --- Sub controllers -->
    <script src="frontend/js/controllers/NavController.js" type="text/javascript"></script>
    <script src="frontend/js/controllers/SearchController.js" type="text/javascript"></script>
    <script src="frontend/js/controllers/MainPageController.js" type="text/javascript"></script>
    <script src="frontend/js/controllers/PokedexController.js" type="text/javascript"></script>
    <script src="frontend/js/controllers/TrainersController.js" type="text/javascript"></script>
    <script src="frontend/js/controllers/SearchResultsController.js" type="text/javascript"></script>
    <script src="frontend/js/controllers/GymsController.js" type="text/javascript"></script>
    <script src="frontend/js/controllers/BadgesController.js" type="text/javascript"></script>
    <script src="frontend/js/controllers/SingleItemControllers/GymController.js" type="text/javascript"></script>
    <script src="frontend/js/controllers/SingleItemControllers/PokemonController.js" type="text/javascript"></script>
    <script src="frontend/js/controllers/SingleItemControllers/TrainerController.js" type="text/javascript"></script>



    <!--- CSS ---->
    <link href="frontend/styles/master.css" type="text/css" rel="stylesheet" />
    <link href="frontend/styles/views/mainPage.css" type="text/css" rel="stylesheet" />
    <link href="frontend/styles/views/pokedex.css" type="text/css" rel="stylesheet" />
    <link href="frontend/styles/views/trainers.css" type="text/css" rel="stylesheet" />
    <link href="frontend/styles/views/searchResults.css" type="text/css" rel="stylesheet" />
    <link href="frontend/styles/views/gyms.css" type="text/css" rel="stylesheet" />
    <link href="frontend/styles/views/badges.css" type="text/css" rel="stylesheet" />
    <link href="frontend/styles/views/trainer/trainer.css" type="text/css" rel="stylesheet" />
    <link href="frontend/styles/views/gym/gym.css" type="text/css" rel="stylesheet" />
    <link href="frontend/styles/views/pokemon/pokemon.css" type="text/css" rel="stylesheet" />
    <link href="frontend/styles/pokemonTypes.css" type="text/css" rel="stylesheet"/>

</head>

<body>
    <header>
        <div class="siteHeader">
            <div class="flexHeader">
                <a class="banner" href="/PokemonDB/#/">
                    <img src="frontend/images/newBanner.png" alt="banner" class="bannerObject" />
                    <h1 class="bannerObject">PokémonDB</h1>
                </a>
                <div class="searchArea" ng-controller="SearchController">
                    <form class="searchForm">
                        <input id="siteSearch" type="text" placeholder="Enter search term" autocomplete="off" ng-model="searchText" />
                        <button id="siteSearchButton" type="submit" ng-click="search()">Search</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="siteNavigation" ng-controller="NavController">
            <ul class="siteNavList">
                <li ng-click="pokedexClick()">Pokédex</li>
                <li ng-click="trainersClick()">Trainers</li>
                <li ng-click="gymsClick()">Gyms</li>
                <li ng-click="badgesClick()">Badges</li>
            </ul>
        </div>
    </header>
    <div id="bodyArea">
        <ng-view>

        </ng-view>
    </div>
    <footer>
        <span>Content and design copyright of <a href="http://pokemondb.net">pokemondb.net</a>. Custom recreation for educational purposes only.</span>
    </footer>
</body>

</html>