#gymsContainer {
    align-content: center;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}

.gym {
    background-color: #BA762D;
    background-image: linear-gradient(#BA762D, #E5933A);
    border: 2px solid #CCC;
    border-radius: 8px;
    box-shadow: 3px 2px black;
    box-sizing: border-box;
    cursor: pointer;
    flex: 1 1 200px;
    height: 140px;
    margin: 10px;
    min-width: 200px;
    text-align: center;
    padding: 5px;
    transition: color 0.2s ease 0s, background-color 0.2s ease 0s;
}

.gym:hover {
    background-color: rgba(0, 0, 0, 0.25);
    background-image: radial-gradient(#DDDDDD, #E5933A);
    box-shadow: 6px 4px black;
}

.gym img {
    border-radius: 5px 5px;
    height: 80px;
    padding: 5px;
}

.gym h2 {
    margin-bottom: 0;
}