.pokedexTitle {
    border-bottom: 2px solid #777;
    font-family: "PokemonHollow";
    font-size: 10vw;
    margin: 10px auto;
    padding-bottom: 10px;
    text-align: center;
}

.pokemonBox {
    background-color: #A1A1A1;
    background-image: linear-gradient(#B2B2B2, #A1A1A1);
    border: 2px solid #CCC;
    border-radius: 8px;
    box-shadow: 5px 5px 2px 2px black outset;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    min-width: 200px;
    padding: 5px;
    transition: color 0.2s ease 0s, background-color 0.2s ease 0s;
    width: 19%;
}

.pokemonBox:hover {
    background-color: rgba(0, 0, 0, 0.25);
    background-image: radial-gradient(#DDDDDD, #A1A1A1);
}

.pokemonBox:active {
    background-color: rgba(255, 255, 255, 0.25);
    background-image: radial-gradient(#A1A1A1, #676767);
}

.pokemonBox * {
    margin: inherit auto;
    text-align: center;
}

.pokemonBox h1 {
    font-size: 16px;
}

.pokemonBox h2 {
    font-size: 12px;
}

@media screen and (max-width:1800px) {
    .pokemonBox {
        width: 24%;
    }
}

@media screen and (max-width:1200px) {
    .pokemonBox {
        width: 32%;
    }
}

@media screen and (max-width:900px) {
    .pokemonBox {
        width: 48%;
    }
}

@media screen and (max-width:625px) {
    .pokemonBox {
        width: 98%;
    }
}