#trainerArea {
    align-content: center;
    align-items: baseline;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}

.trainerContainer {
    background-color: #619466;
    background-image: linear-gradient(#7EBD83, #619466);
    border: 2px solid #CCC;
    border-radius: 8px;
    box-shadow: 3px 2px black;
    box-sizing: border-box;
    cursor: pointer;
    flex: 0 1 200px;
    height: 80px;
    margin: 10px;
    min-width: 200px;
    padding: 5px;
    transition: color 0.2s ease 0s, background-color 0.2s ease 0s;
}

.trainerContainer:hover {
    background-color: rgba(0, 0, 0, 0.25);
    background-image: radial-gradient(#DDDDDD, #619466);
    box-shadow: 6px 4px black;
}

.trainerContainer:active {
    background-color: rgba(255, 255, 255, 0.25);
    background-image: radial-gradient(#619466, #676767);
    box-shadow: none;
}

.trainerImgDiv {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}

.trainerImgDiv img {
    display: block;
    height: 64px;
    margin: 4px auto;
    padding-bottom: 4px;
}

.trainerInfoDiv {
    display: inline-block;
    height: 80px;
    line-height: 80px;
    text-align: right;
}

.trainerCreationBlock {
    background-color: #DE4456;
    background-image: linear-gradient(#FF4F62, #DE4456);
    border: 5px solid #444;
    border-radius: 2px 2px;
    height: 75%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    min-height: 400px;
    min-width: 300px;
    overflow: hidden;
    overflow-y: scroll;
    width: 50%;
    z-index: 1000;
}

.trainerCreationBlock .child {
    text-align: center;
    margin: 20px auto;
}

.inputTrainerName {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.inputTrainerName input {
    border: 5px solid white;
    -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
    padding: 15px;
    background: rgba(255, 255, 255, 0.5);
    margin: 10px 0;
    text-align: center;
    text-indent: 0;
    width: auto;
}

.inputTrainerRival div{
    margin: 5px auto;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 1px 1px 11px #303;
    background: #619466 scroll 200px 5px;
    width: 250px;
}

.inputTrainerRival label {
    font-size: 20px;
    font-weight: bold;
}

.rivalSelector {
    border: 0px none;
    color: #EEE;
    background: transparent none repeat scroll 0% 0%;
    font-size: 20px;
    font-weight: bold;
    padding: 2px 10px;
    width: 250px;
}

.inputButtons {
    align-content: center;
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.inputButtons input{
    flex-basis: 100px;
    flex-grow: 1;
    flex-shrink: 0;
    min-width: 100px;
    margin: 5px 10px;
    height: 26px;

    background-image: linear-gradient(#E3E000, #FEFB00);
    box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.2) inset;
    color: #04243C;
    font-weight: bold;
    line-height: 26px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
}

.badgeSelector {
    align-content: center;
    align-items: center;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: inherit auto;
    width: 99%;
}

.trainerBadge {
    border: 2px solid #CCC;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    flex: 0 1 70px;
    height: 70px;
    margin: 10px;
    width: 70px;
    text-align: center;
    padding: 5px;
    transition: color 0.2s ease 0s, background-color 0.2s ease 0s;
}

.badgeSelected {
    background-color: #7080C0;
    background-image: linear-gradient(#8698E4, #7080C0);
    box-shadow: 3px 2px black;
}

.badgeNotSelected {
    background-color: #444444;
    background-image: linear-gradient(#666666, #444444);
    box-shadow: none;
}

.trainerBadge:hover {
    box-shadow: 6px 4px black;
}

.badgeSelected:hover {
    background-color: rgba(0, 0, 0, 0.25);
    background-image: radial-gradient(#DDDDDD, #7080C0);
}

.badgeNotSelected:hover {
    background-color: rgba(0, 0, 0, 0.25);
    background-image: radial-gradient(#DDDDDD, #444444);
}

.trainerBadge img {
    height: 40px;
    padding: 2px;
}

.trainerBadge h2 {
    color: white;
    font-size: 10px;
    margin-bottom: 0;
}

.pokemonSelectArea {
    align-content: center;
    align-items: center;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: inherit 0;
    width: 100%;
}

@media screen and (max-width: 802px){
    .pokemonSelectArea {
        justify-content: center;
    }
}

.pokeSelectBlock {
    border: 2px solid #CCC;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: default;
    display: inline-block;
    flex: 0 1 150px;
    height: 150px;
    margin: 10px;
    width: 150px;
    text-align: center;
    padding: 5px;
    transition: color 0.2s ease 0s, background-color 0.2s ease 0s;
}

.pokemonSelectorCase {
    margin: 6px auto;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 1px 1px 11px #303;
    background: #619466 scroll 100px 5px;
    width: 100px;
}


.pokemonSelector {
    border: 0px none;
    color: #EEE;
    background: transparent none repeat scroll 0% 0%;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 10px;
    width: 100px;
}


.pokeSelectBlock label {
    font-size: 14px;
}

.pokeSelectBlock input[type=text] {
    border: 1px solid white;
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1), 0 0 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1), 0 0 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1), 0 0 2px rgba(0, 0, 0, 0.1);
    padding: 1px;
    background: rgba(255, 255, 255, 0.5);
    margin: 1px 2px;
    font-size: 14px;
    text-align: center;
    text-indent: 0;
    width: 40px;
}

.pokeSelectBlock img {
    border: 1px solid #999999;
    height: 70px;
    width: 70px;
    margin: 0px;
    padding: 0px;
}

.addPokemonBlock {
    cursor: pointer;
}

.addPokemonBlock div {
    box-sizing: border-box;
    background-color: #999999;
    border-radius: 100% 100%;
    color: white;
    font-size: 32px;
    line-height: 100px;
    margin: 20px 10px;
}

.block-wrap {
    display: block;
    width: 100%;
}