@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700);
@font-face {
    font-family: "PokemonSolid";
    src: url(../fonts/Pokemon%20Solid.ttf) format('truetype');
}

@font-face {
    font-family: "PokemonHollow";
    src: url(../fonts/Pokemon%20Hollow.ttf) format('truetype');
}

html {
    background-color: #6E6E6E;
    background-image: -webkit-linear-gradient(bottom left, #666 0px, #666 2px, #6E6E6E 2px, #6E6E6E 8px, #666 8px, #666 10px, #6E6E6E 10px, #6E6E6E 17px);
    background-image: -o-linear-gradient(bottom left, #666 0px, #666 2px, #6E6E6E 2px, #6E6E6E 8px, #666 8px, #666 10px, #6E6E6E 10px, #6E6E6E 17px);
    background-image: linear-gradient(to top right, #666 0px, #666 2px, #6E6E6E 2px, #6E6E6E 8px, #666 8px, #666 10px, #6E6E6E 10px, #6E6E6E 17px);
    background-size: 12px 12px;
    min-width: 300px;
    overflow-x: hidden;
}

html * {
    box-sizing: padding-box;
    font-family: "Lato", "Ubuntu", "Trebuchet MS", "Helvetica", "Arial", "FreeSans", sans-serif;
    font-size: 1em;
    font-size-adjust: 0.6;
    margin: 0;
    padding: 0;
    position: relative;
}

a {
    color: #FFFF00;
    text-decoration: none;
}


/* ---------- HEADER ------------ */

header .siteHeader {
    background-color: #323638;
    background-image: linear-gradient(#323638, #1B1D1E);
    background-position: center 0px, 0px center;
    border: 1px solid black;
    border-radius: 8px;
    display: block;
    margin: 10px auto 0 auto;
    padding: 5px;
    width: 93%;
}

.flexHeader {
    align-content: center;
    align-items: baseline;
    display: inline-flex;
    flex-flow: row wrap;
    height: 100%;
    justify-content: left;
    width: 100%;
}

.flexHeader div {
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 250px;
    margin: 0;
    padding: 0;
    min-width: 250px;
}

.flexHeader a {
    flex-shrink: 1;
    flex-grow: 10;
    flex-basis: 400px;
    margin: 0;
    padding: 0;
    min-width: 400px;
}

.flexHeader a img {
    height: 80px;
    vertical-align: bottom;
}

.flexHeader a {
    background-repeat: no-repeat;
    text-align: left;
    text-shadow: 1px 1px 1px #000;
}

.banner {
    align-content: center;
    align-items: baseline;
    display: inline-flex;
    flex-flow: row wrap;
    height: auto;
    justify-content: left;
}

.bannerObject {
    display: inline-flex;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: auto;
    margin: 2px 10px;
}

.banner h1 {
    color: #FFFF00;
    font-family: "PokemonHollow";
    font-size: 3.75em;
    line-height: 80px;
    padding-left: 20px;
}

.flexHeader .searchArea {
    box-sizing: content-box;
    width: 247px;
}

.searchArea form {
    border: 5px solid #202020;
    border-radius: 4px;
    width: 249px;
}

#siteSearch {
    background-color: #FFF;
    border: 1px solid black;
    box-shadow: 0px 0px 2px #AAA inset;
    box-sizing: border-box;
    line-height: 32px;
    text-indent: 5px;
    width: 180px;
}

#siteSearchButton {
    background-image: linear-gradient(#2D8CC2, #0B5F9F);
    box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.2) inset;
    color: #04243C;
    cursor: pointer;
    font-weight: bold;
    line-height: 26px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
    width: 60px;
}


/* Centering items header*/

@media screen and (max-width: 720px) {
    .searchForm {
        margin: auto;
    }
}

@media screen and (max-width: 640px) {
    .flexHeader,
    .banner {
        justify-content: center;
    }
}

@media screen and (max-width:475px){
    .banner h1 {
        font-size: 3em;
    }
}

header .siteNavigation {
    margin: 0px auto 10px auto;
    padding: 0;
    width: 90%;
}

.siteNavigation .siteNavList {
    background-color: #404040;
    background-image: linear-gradient(#525252, #404040);
    box-sizing: border-box;
    border-color: use-text-color #000 #000;
    border-radius: 0 0 8px 8px;
    border-style: none solid solid;
    border-width: 0px 1px 1px;
    font-weight: bold;
    margin: 0 auto;
    list-style: outside none none;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    padding: 0;
    width: 100%;
}

.siteNavList li {
    border-left: 1px solid black;
    border-right: 1px solid black;
    box-sizing: border-box;
    color: #EEE;
    cursor: pointer;
    display: inline-block;
    height: 100%;
    line-height: 26px;
    list-style: outside none none;
    margin: 0 -2.5px;
    padding: 5px 0;
    text-decoration: none;
    transition: color 0.2s ease 0s, background-color 0.2s ease 0s;
    width: 25%;
}

.siteNavList li:first-child {
    border-left: none;
    border-bottom-left-radius: 8px;
}

.siteNavList li:nth-child(4) {
    border-right: none;
    border-bottom-right-radius: 8px;
}

.siteNavList li:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.siteNavList li:active {
    background-color: rgba(255, 255, 255, 0.2);
}


/* ----------- BODY -------- */

#bodyArea {
    background: #FFF none repeat scroll 0% 0%;
    border: 1px solid #000;
    border-radius: 8px;
    box-shadow: 0px 0px 2px #AAA inset;
    box-sizing: border-box;
    margin: 23px auto 15px auto;
    min-height: 300px;
    padding: 20px;
    width: 93%;
}

.bodyContent {
    margin: 15px auto;
    width: 95%;
}

/* -------- REMOVE CORNER BUTTON ----- */

.itemRemove {
    background: #CD0025;
    background-image: linear-gradient(#A3001A, #CD0025);
    border: 0.5px solid #666;
    border-radius: 5px 5px;
    box-shadow: 0.5px 1px #666666;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 12px;
    z-index: 2;
}

.itemRemove p {
    font-size: 14px;
    line-height: 12px;
    text-align: center;
}

.itemRemove:hover {
    background: #FB0024;
    background-image: radial-gradient(#FB0024, #CD0025);
    box-shadow: 1px 2px #666666;
}

.itemRemove:active {
    background: #5A0010;
    background-image: radial-gradient(#A3001A, #5A0010);
    box-shadow: 0px 0px #666666;
}


/* ------ POKEMON TYPE CLASSES ------- */

.Normal {
    background-color: #8A8A59;
    background-image: linear-gradient(#9C9766, #8A8A59);
}

.Fighting {
    background-color: #C03028;
    background-image: linear-gradient(#CA3A32, #C03028);
}

.Flying {
    background-color: #A890F0;
    background-image: linear-gradient(#B29AFA, #A890F0);
}

.Poison {
    background-color: #A040A0;
    background-image: linear-gradient(#AA4AAA, #A040A0);
}

.Ground {
    background-color: #E0C068;
    background-image: linear-gradient(#EACA72, #E0C068);
}

.Rock {
    background-color: #B8A038;
    background-image: linear-gradient(#C2AA42, #B8A038);
}

.Bug {
    background-color: #A8B820;
    background-image: linear-gradient(#B2C22A, #A8B820);
}

.Ghost {
    background-color: #705898;
    background-image: linear-gradient(#7A62A2, #705898);
}

.Fire {
    background-color: #F08030;
    background-image: linear-gradient(#FA8A3A, #F08030);
}

.Water {
    background-color: #6890F0;
    background-image: linear-gradient(#729AFA, #6890F0);
}

.Grass {
    background-color: #78C850;
    background-image: linear-gradient(#82D25A, #78C850);
}

.Electric {
    background-color: #F8D030;
    background-image: linear-gradient(#FFDA3A, #F8D030);
}

.Psychic {
    background-color: #F85888;
    background-image: linear-gradient(#FF6292, #F85888);
}

.Ice {
    background-color: #98D8D8;
    background-image: linear-gradient(#A2E2E2, #98D8D8);
}

.Dragon {
    background-color: #7038F8;
    background-image: linear-gradient(#7A42FF, #7038F8);
}


/* -------------- FOOTER ------------ */

footer {
    background-color: #323638;
    background-image: linear-gradient(#323638, #1B1D1E);
    background-position: center 0px, 0px center;
    border: 1px solid black;
    border-radius: 8px;
    display: block;
    margin: 10px auto;
    padding: 5px;
    width: 93%;
}

footer span {
    color: #FFF;
    display: block;
    margin: 2px auto;
    text-align: center;
}